## .NET / Visual Studio
bin/
obj/
*.user
*.suo
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Rider / VS Code
.idea/
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log